*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
}
::-webkit-scrollbar{
  display: none;
}

